*
!.envrc
!.gitignore
!.rustfmt.toml
!.taplo.toml
!Cargo.lock
!Cargo.toml
!LICENSE
!README.md
!config.example.toml
!deny.toml
!flake.lock
!flake.nix

!.github/
!.github/**
!contrib/
!contrib/**
!docs/
!docs/**
!nix/
!nix/**
!src/
!src/**
!testdata/
!testdata/**
!web/
!web/**
